<%= render 'character_header', character: @character %>

<ul class="tabrow">
    <li class="selected"><a href="#">Abilities</a></li>
    <li><%= link_to 'Gear', gear_character_path(@character) %></li>
    <li><%= link_to 'Stat Mods', stat_mods_character_path(@character) %></li>
</ul>
<div class="panel panel-default">
  <div class="panel-body">
    <% if @character.has_basic %>
    <div class="row" style="background-color:#66ccff;">
      <div class="col-md-1"><b>Basic</b></div>
      <div class="col-md-11"><%= @character.basic_name %></div>
    </div>
    <% @character.basic_texts.each_with_index  do |desc, index| %>
      <div class="row">
        <div class="col-md-1"><b>Level <%= " " + (index+1).to_s %></b></div>
        <div class="col-md-11"><%= desc.gsub('\n',' ').html_safe %></div>
      </div>
    <% end %>
    <br>
    <% end %>

    <% if @character.has_special %>
    <div class="row" style="background-color:#66ccff;">
      <div class="col-md-1"><b>Special (cost)</b></div>
      <div class="col-md-11"><%= @character.special_name %></div>
    </div>
    <% @character.special_texts.each_with_index  do |desc, index| %>
      <div class="row">
        <div class="col-md-1">
          <b>Level <%= " " + (index+1).to_s %></b>
          <%= ' (' + @character.special_starts[index].to_s + '/' + @character.special_costs[index].to_s + ')' %>
        </div>
        <div class="col-md-11"><%= desc.gsub('\n',' ').html_safe %></div>
      </div>
    <% end %>
    <br>
    <% end %>

    <% if @character.has_ultimate %>
    <div class="row" style="background-color:#66ccff;">
      <div class="col-md-1"><b>Ultimate (cost)</b></div>
      <div class="col-md-11"><%= @character.ultimate_name %></div>
    </div>
    <% @character.ultimate_texts.each_with_index  do |desc, index| %>
      <div class="row">
        <div class="col-md-1">
          <b>Level <%= " " + (index+1).to_s %></b>
          <%= ' (' + @character.ultimate_starts[index].to_s + '/' + @character.ultimate_costs[index].to_s + ')' %>
        </div>
        <div class="col-md-11"><%= desc.gsub('\n',' ').html_safe %></div>
      </div>
    <% end %>
    <br>
    <% end %>

    <% if @character.has_passive %>
    <div class="row" style="background-color:#66ccff;">
      <div class="col-md-1"><b>Passive</b></div>
      <div class="col-md-11"><%= @character.passive_name %></div>
    </div>
    <% @character.passive_texts.each_with_index  do |desc, index| %>
      <div class="row">
        <div class="col-md-1"><b>Level <%= " " + (index+1).to_s %></b></div>
        <div class="col-md-11"><%= desc.gsub('\n',' ').html_safe %></div>
      </div>
    <% end %>
    <br>
    <% end %>
  </div>
</div>
