<div class="profile-container py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <% records.each do |post| %>
          <div class="news-post">
            <div class="d-flex justify-content-center">
              <p class="text-center">
                <a id="<%= post.title.parameterize(separator: '_') %>">
                  <%=post.posted_date.strftime('%B %d, %Y') %>
                </a>
              </p>
            </div>
            <div class="d-flex justify-content-center">
               <p class="text-center">
                 <h1 class="news-title">
                  <%= post.title %>
                 </h1>
               </p>
            </div>
            <div class="d-flex justify-content-center">
              <% if post.picture.attached? %>
                <p class=""><image src="<%= url_for(post.picture) %>"></image></p>
              <% end %>
            </div>
            <p class="news-body fr-view"><%= raw post.body %></p>
          </div>
          <hr>
        <% end %>
      </div>
      <div class="col-md-3">
        <%= render 'layouts/sidebar' %>
      </div>
    </div>
  </div>
</div>
