<%= page_heading "Signup" %>
<%= render 'banner' %>

<div class="profile-container py-4">
  <div class="container">
    <div class="row">
      <div>
        <div class="signup-image-wrapper">
          <%= image_tag("MIcover2resize2.jpg", class: 'signup-image') %>
          <br>
          <p class="signup-tagline"><b>Monsters and muses and magic, oh my . . .</b></p>
        </div>

        <div id="signup_box" class="outer-grey-box">
          <div class="row-form inside-text">
            <div>
              <h4 class="signup-h4">How about a free book?</h4>
              <p class="signup-p">Sign up for my newsletter to receive a free copy of <em>Muse Interrupted</em>, the first book in the <b>Rise of the Lost Gods</b> series. You'll also be the first to know about new releases, sales, giveaways, and more!</p>
              <br>
            </div>

            <%= form_for(@subscription) do |f| %>
            
              <div class="signup-form-content">
                <%= f.text_field :email, placeholder: " Your Email Address ", class: 'form-control input-lg' %>
              </div>

              <div class="signup-form-perms" style="">
                <div class="default signup-form-perms">
                  <h4>Marketing Permissions</h4>
                  <p>The information you provide will only be used to send you your free book and add you to Nicole's newsletter.&nbsp;Your privacy is important to us. Click below to be added to the email list!</p>
                  <div>
                    <label>
                      <input type="checkbox" name="agree" value="Email" class="email-checkbox" onchange="document.getElementById('sendsub').disabled = !this.checked;">
                      <div class="email-label">Email</div>
                    </label>
                    <div class="description">We will send you occasional emails about promotions, new books, and important updates to keep you in the loop.</div>
                  </div>
                </div>
                <div class="mailer-info">
                  <p>We use MailerLite as our marketing automation platform. By clicking below to submit this form, you acknowledge that the information you provide will be transferred to MailerLite for processing in accordance with their <a href="https://www.mailerlite.com/privacy-policy" target="_blank">Privacy Policy</a> and <a href="https://www.mailerlite.com/terms-of-service" target="_blank">Terms of Service</a>.</p>
                </div>
              </div>
              
              <%= recaptcha_tags %>

              <div>
                <button type="submit" class="primary subscribe-button" disabled id="sendsub">Subscribe</button>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
