<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/facebook_pixel' %>
    <%= render 'layouts/pinterest_claim' %>
  </head>

  <body class="">
    <%= render 'layouts/nav2' unless defined?(@skip_nav) %>
    <%= render 'layouts/nav3' if defined?(@skip_nav) %>
    <section class="top-spacer relative" id="top"></section>

    <%= yield %>
  </body>

  <footer>
    <div class="d-flex justify-content-center p-3">
      <%= link_to(privacy_homes_path, class: "nav-item nav-link active") do %>
        <span class="lnr lnr-pushpin" style='margin: 5px;'></span>Privacy Policy
      <% end %>
    </div>
  </footer>
</html>
