<!DOCTYPE html>
<html>
  <head>
    <title>Nicole Hall's Books</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="">
    <%= render 'layouts/nav2' %>
    <section class="top-spacer relative" id="top"></section>

    <%= yield %>
  </body>
</html>
